<form style="margin: 10px 10px 10px 10px" class="form-control">
  <div class=row style="padding: 60px 20px 10px 20px">
    <div class=col-md-6 style="padding-left: 100px;text-align:center">
      <label style="font-size:40px ;font-family:arial narrow ;color:#e83e8c">Contact Our</label><br>
      <label style="font-size:40px ;font-family:arial narrow" >Customer Support Center </label>  
   </div>
   <div class=col-md-6 style="padding-right: 100px">
      <img src="../assets/MarvellousImage.jpeg" alt="Laptop">  
   </div>
  </div>
  <div style="text-align:center;padding-top: 20px ">
      <label style="font-size:30px " >Contact Information</label><br>
      <label>Please fill out your contact information below.</label>
  </div>
  <div style="padding:30px 40px 5px 60px">
      <label>Name <span style="color:#e83e8c">*</span></label>
        <div class=row style="padding-bottom: 20px">
            <div class=col-md-4>
              <input type="text" class="form-control"><label style="font-size: 12px">First Name</label>
            </div>
           <div class=col-md-4>
              <input type="text" class="form-control" ><label style="font-size: 12px">Last Name</label>
           </div>
        </div>
        <label>Email<span style="color:#e83e8c">*</span></label>
        <div class=row style="padding-bottom: 20px">
          <div class=col-md-12><input type="email" class="form-control"></div>
        </div>
        <label>Phone<span style="color:#e83e8c">*</span></label>
        <div class=row style="padding-bottom: 20px">
          <div class=col-md-12><input type="tel" class="form-control"></div>
        </div>
        <label>Address<span style="color:#e83e8c">*</span></label>
        <div class=row>
          <div class=col-md-12><input type="text" class="form-control"></div>
        </div>
  </div>
</form>
