<label>Date and time you first noticed this bug*</label>
<div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text"
                 placeholder="Datepicker"
                 class="form-control"
                 bsDatepicker>
        </div>
</div>
<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <timepicker></timepicker>
  </div>
</div>
<label>Impact</label>
<div class="form-group">
  <select class="custom-select">
    <option selected>Low</option>
    <option>Medium</option>
    <option>High</option>
  </select>
</div>
<label>Detailed explanation of bug*</label>
<div>
  <textarea class="form-control" rows="3" name="buginfo"></textarea>
</div>